body {
  background-image: url("https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  font-family: "Orbitron", sans-serif;
}

html,
body {
  height: 100%;
}

/*Made square size for imageProfile id and added a border*/
#imageProfile {
  width: 350px;
  height: 350px;
  border: 5px solid darkcyan;
}

/*Added some padding to container with bootstrap element and floated left*/
.container {
  padding: 3%;
  float: left;
}

/*Made the About Me title to a new color*/
h1 {
  color: white;
}

h5 {
  color: white;
}

p {
  color: white;
}

/*Added a background image and no-repeat due to background size and cover to cover whole page size*/

/* footer {
  bottom: 0;
  margin-top: 50%;
  margin-left: 3%;
  width: 100%;
  display: flex;
}

@media only screen and (max-width: 600px) {
  footer {
    flex-direction: column;
  }
} */
